<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	 <typeAliases>
		 <typeAlias type="java.lang.String" alias="String"/>
		 <typeAlias type="com.moveone.app.products.ProductDTO" alias="ProductDTO"/>
		 <typeAlias type="com.moveone.app.utils.Pager" alias="Pager"/>
		 <typeAlias type="com.moveone.app.products.ProductFileDTO" alias="ProductFileDTO"/>
		 <typeAlias type="com.moveone.app.board.notice.NoticeDTO" alias="NoticeDTO"/>
		 <typeAlias type="com.moveone.app.board.qna.QnADTO" alias="QnADTO"/>
	 </typeAliases>
</configuration>