<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.moveone.app.account.AccountDAO">
	<insert id="addAccount">
		INSERT INTO ACCOUNT(ACCOUNTNUM, USERNAME, PRODUCTNUM, ACCOUNTPW)
		VALUES (#{accountNum}, #{userName}, #{productNum}, #{accountPw})
	</insert>
	
	<select id="accountList" parameterType="MemberDTO" resultMap="getAccountProduct">
		SELECT PRODUCTNAME, ACCOUNTNUM, ACCOUNTBALANCE, PRODUCTRATE, ACCOUNTDATE
		FROM ACCOUNT RIGHT JOIN PRODUCT USING(PRODUCTNUM)
		WHERE USERNAME = #{userName}
		ORDER BY ACCOUNTBALANCE
	</select>
	
	<resultMap type="AccountDTO" id="getAccountProduct">
		<id property="accountNum" column="ACCOUNTNUM"/>
		<result property="accountBalance" column="ACCOUNTBALANCE"/>
		<result property="accountDate" column="ACCOUNTDATE"/>
		<association property="productDTO" javaType="ProductDTO">
			<id property="productNum" column="PRODUCTNUM"/>
			<result property="productName" column="PRODUCTNAME"/>
			<result property="productRate" column="PRODUCTRATE"/>
		</association>
	</resultMap>
</mapper>