<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.moveone.app.products.ProductDAO">
    <sql id="search">
        <where>
            <if test="kind=='kind1' or kind=='kind3'">
                PRODUCTNAME LIKE '%'||#{search}||'%'
            </if>
            <if test="kind=='kind2' or kind=='kind3'">
                OR PRODUCTCONTENTS LIKE '%'||#{search}||'%'
            </if>
        </where>
    </sql>

    <select id="getList" parameterType="Pager" resultType="ProductDTO">
        SELECT PR.PRODUCTNUM, PR.PRODUCTNAME, PR.PRODUCTRATE, PR.PRODUCTJUMSU, PR.PRODUCTCOUNT
        FROM (
        	SELECT ROWNUM R, P.* 
        	FROM (
            	SELECT *
            	FROM PRODUCT
            	<include refid="search"/>
            	ORDER BY PRODUCTNUM DESC
        	) P
        )PR
        WHERE PR.R BETWEEN #{startRow} AND #{lastRow}
    </select>

    <select id="getTotal" parameterType="Pager" resultType="Long">
        SELECT COUNT(PRODUCTNUM) FROM PRODUCT <include refid="search"/>
    </select>

    <select id="getDetail" parameterType="ProductDTO" resultMap="getDetailResult">
        SELECT * 
        FROM PRODUCT
        	LEFT JOIN PRODUCTFILE USING(PRODUCTNUM) 
        WHERE PRODUCTNUM = #{productNum}
    </select>
    
    <resultMap type="ProductDTO" id="getDetailResult">
    	<id column="PRODUCTNUM" property="productNum"/>
    	<result column="PRODUCTNAME" property="productName"/>
    	<result column="PRODUCTCONTENTS" property="productContents"/>
    	<result column="PRODUCTCOUNT" property="productCount"/>
    	<result column="PRODUCTRATE" property="productRate"/>
    	<result column="PRODUCTJUMSU" property="productJumsu"/>
    	<collection property="productFiles" javaType="List" ofType="BoardFileDTO">
    		<id property="fileNum" column="FILENUM"/>
    		<result column="FILENAME" property="fileName"/>
    		<result column="ORINAME" property="oriName"/>
    	</collection>
    </resultMap>

    <insert id="add" parameterType="ProductDTO">
        <selectKey resultType="Long" keyProperty="productNum" order="BEFORE">
            SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO PRODUCT(PRODUCTNUM, PRODUCTNAME, PRODUCTCONTENTS, PRODUCTRATE)
        VALUES (#{productNum}, #{productName}, #{productContents}, #{productRate})
    </insert>

    <insert id="addFile" parameterType="ProductFileDTO">
        INSERT INTO PRODUCTFILE
        VALUES (PRODUCT_SEQ.NEXTVAL, #{productNum}, #{fileName}, #{oriName})
    </insert>
    
    <select id="getFileList" parameterType="ProductDTO" resultType="ProductFileDTO">
    	SELECT FILENAME FROM PRODUCTFILE WHERE PRODUCTNUM = #{productNum}
    </select>
    
    <delete id="delete" parameterType="ProductDTO">
    	DELETE PRODUCT WHERE PRODUCTNUM = #{productNum}
    </delete>
    
    <update id="update" parameterType="ProductDTO">
    	UPDATE PRODUCT
    	<set>
    	<if test="productName!=null and productName!=''">
    		PRODUCTNAME = #{productName},
    	</if>
    	<if test="productContents!=null and productContents!=''">
    		PRODUCTCONTENTS = #{productContents},
    	</if>
    	<if test="productRate!=null and productRate!=''">
    		PRODUCTRATE = #{productRate},
    	</if>
    	</set>
    	WHERE PRODUCTNUM = #{productNum}
    </update>
</mapper>